<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>整站过滤模块 - {$show.sitename} - {$show.sitedesc}</title>
<meta name="keywords" content="{$show.keywords}" />
<meta name="description" content="{$show.description}" />
<link type="text/css" rel="stylesheet" href="style/style.css" />
<link rel="shortcut icon" href="{$url.root}/favicon.ico" />
<script type="text/javascript" src="{$url.root}/source/js/jquery.js"></script>
<link type="text/css" rel="stylesheet" href="{$url.root}/source/js/boxy/boxy.css" />
<script type="text/javascript" src="{$url.root}/source/js/boxy/jquery.boxy.js"></script>
<script type="text/javascript">
{literal}

{/literal}
</script>
</head>
<body>
{include file="admin_header.html"}
<div class="wrapper">
	<div class="main">
		{include file="admin_menu.html"}
		<div class="content">
			<h3>整站过滤模块</h3>
			<div class="data">
				<table cellpadding="0" cellspacing="0" width="100%">
					<thead>
						<tr>
							<td width="90">编号</td>
							<td >过滤域名</td>
							<td width="150">功能操作</td>
						</tr>
					</thead>
					<tbody>
					{foreach from=$allfilter key=k item=v}
						<tr{if $k%2==1} style="background:#e0e0e0"{/if}>
							<td>{$v.id}</td>
							<td>{$v.filterurl}</td>
							<td><a href="{$url.root}/admin/index.php?do=admin_module&act=delfilter&id={$v.id}&token={$show.user.token}" onclick="return confirm('确定删除吗?');">删除过滤机制</a> 
						</tr>
					{/foreach}
					</tbody>
				</table>
				<hr/><hr/>
				<p>
				---------------------------------------------------增加过滤域名---------------------------------------------------
				</p>
				<form style="padding: 10px 15px;" id="formSeting" action="{$url.root}/admin/index.php?do=admin_module&act=addfilter" method="post">
				<table cellpadding="0" cellspacing="0" width="100%">
					<thead>
						<tr>
							<td width="120">过滤域名</td>
							<td width="100">提交</td>
						</tr>
					</thead>
					<thead>
						<tr>
							<td width="100"><input id="filterurl" name="filterurl" type="text"  style="width:100px" value="" /></td>
							<td width="50"><input class="btn btn-success" id="btnSeting" type="submit" value="提交" /> </td>
						</tr>
					</thead>
				</table>
				</form>
				<div class="page">
				<p>-----------------过滤模块使用说明----------------</p>
				<p>因为现在管控非常严格，具体的你也知道。所以，在此可以增加针对域名过滤。此功能会检测当前网站域名，如果域名含有的字母与你设定的过滤参数一致的话，则代码区域为空，什么也不加载。此设定跟前台设定不一样，为整站设定，（前台的黑名单功能只针对用户自己和自己的固定的项目，而且并非不加载，只是不入库。）。注意：此功能是不加载JS代码。不要只写一个过滤com，否则只要域名中含有com就不加载js代码。填写示例：gov.cn</p>
				</div>
			</div>
		</div>
	</div>
</div>
{include file="admin_footer.html"}
</body>
</html>